@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
/* Shared Styles */
.btn-primary {
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: rgb(255, 144, 14);
  width: 180px;
  height: 64px;
  /* margin-top: 32px; */
}
.text-light-gray {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
}
.section-title {
  color: rgb(19, 19, 19);
  font-size: 45px;
  font-weight: 700;
}

/* Header Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* Banner Styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: rgb(19, 19, 19);
  font-size: 64px;
  font-weight: 700;
}
.banner img {
  margin-top: 50px;
  width: 100%;
}

/* Main Styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.teams-container {
  display: flex;
  align-items: center;
  padding-top: 70px;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 45px;
}
.teams-title .quick-list{
  color: rgb(114, 114, 114);
  font-weight: 500;
}
.teams-title .of-our{
  color: rgb(19, 19, 19);
  font-weight: 700;
}
.teams-title .text-features{
  color: rgb(255, 144, 14);
  font-weight: 700;
}
/*  */
.facts-content{
  text-align: center;
}
.facts-content .section-title{
  margin-bottom: 5px;
}
.facts-content .text-light-gray{
  margin-bottom: 50px;
}
.facts-card-container{
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card{
border: 1px solid rgb(255, 144, 14);
border-radius: 8px;
text-align: center;
padding: 20px 40px;
}
.facts-card-container .card-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(114, 114, 114);
  margin-top: 5px;
}
.facts-card-container .card-stats{
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Sponsors Styles */
.sponsors{
  text-align: center;
}
.sponsors-img-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  gap: 40px;
}




























/* Responsive Styles */

/* Small Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-content {
    padding-left: 20px;
    padding-right: 20px;
}
  .facts-card-container{
    gap: 10px;
  }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-content,
  .facts-content {
    text-align: center;
}
  .facts-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px
  }
}